
@{
    ViewBag.Title = "Info";
}

@section header
{
    <a href="#" data-rel="back" data-icon="arrow-l" class="ui-btn-left">返回</a>
}

<h3>Version:1.0</h3>
<br />
<h4>Contact Us:02-99568521</h4>
<h4>Copyright@2015 Allen Lai</h4>
<h4>All Rights Reserved</h4>